.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 95%;
    margin: 80px auto 0;
}

.project {
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35vh;
    border-radius: 15px;
    transition: 0.5s;
}

.bean-machine{
    background-image: url(assets/The-bean-machine.png);
    
}

.sweet-berries {
    background-image: url(assets/sweet-berries.png);
}

.w-news {
    background-image: url(assets/news-landing-page.png);
}

.unilife {
    background-image: url(assets/uni-life.png);
}

.cinetrail {
    background-image: url(assets/cinetrail.png);
}

a.web-link:hover .cinetrail,
a.web-link:hover .bean-machine,
a.web-link:hover .sweet-berries,
a.web-link:hover .w-news,
a.web-link:hover .unilife {
    height: 50vh;
}





@media screen and (max-width: 1080px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
} 

@media screen and (max-width: 750px) {
    .projects-container {
        grid-template-columns: 1fr;
    }
} 